/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/* What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */

/* #region At-rules */
@font-face {
	font-family: "Until 25";
	src: url(../assets/fonts/Until25-Italic.otf) format(opentype);
}

@font-face {
	font-family: "FixedSys Excelsior";
	src: url(../assets/fonts/FSEX302.ttf) format(truetype);
}

@font-face {
	font-family: Tomorrow;
	font-weight: bold;
	src: url(../assets/fonts/Tomorrow-Bold.ttf) format(truetype);
}

@font-face {
	font-family: Tomorrow;
	font-style: italic;
	font-weight: bold;
	src: url(../assets/fonts/Tomorrow-BoldItalic.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url(../assets/fonts/IBMPlexSans-Regular.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 300;
	src: url(../assets/fonts/IBMPlexSans-Light.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: 500;
	src: url(../assets/fonts/IBMPlexSans-Medium.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: bold;
	font-style: italic;
	src: url(../assets/fonts/IBMPlexSans-BoldItalic.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-stretch: condensed;
	src: url(../assets/fonts/IBMPlexSansCondensed-Regular.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Sans";
	font-stretch: condensed;
	font-style: italic;
	src: url(../assets/fonts/IBMPlexSansCondensed-Italic.ttf) format(truetype);
}

@font-face {
	font-family: "IBM Plex Serif";
	font-style: italic;
	src: url(../assets/fonts/IBMPlexSerif-Italic.ttf) format(truetype);
}
/* #endregion */

/* #region Base styles: opinionated defaults */
html {
	background: fixed center / cover no-repeat url(../assets/img/Branding/Elements/NGHT-VSN/2025/The\ Icarus\ Journey.png), var(--NGHT-BLCK);
	color: whitesmoke;
	font: 300 20px / 1.25 "IBM Plex Sans", sans-serif;
	scroll-behavior: smooth;
}

/* Remove text-shadow in selection highlight: https://twitter.com/miketaylr/status/12228805301
 * Customize the background color to match your design. */
::-moz-selection {
	background-color: var(--NGHT-RD);
	text-shadow: none;
}

::selection {
	background-color: var(--NGHT-RD);
	text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: .125rem;
	border: 0;
	border-top: .125rem solid currentColor;
	margin: 1em 0;
	padding: 0;
}

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
canvas, iframe, img, svg, video {
	vertical-align: middle;
}

/* Allow only vertical resizing of textareas. */
textarea {
	resize: vertical;
}
/* #endregion */

/* #region Author's custom styles */
/* #region Global styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: none .25s ease;
}

:root {
	/* Colour palette */
	--NGHT-RD: #900;
	--NGHT-BLCK: #191919;
	--NGHT-RDGRND: #9009;
	--NGHT-BLCKGRND: #19191999;
	--NGHT-WHTGRND: #F5F5F599;
}

h1 {
	font: italic normal 5em / 1 "Until 25", monospace;
}

h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
}

h2, h3, h4, h5 {
	font-family: Tomorrow, sans-serif;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 2em;
}

h4, h5, h6 {
	font-style: italic;
}

h4 {
	font-size: 1.75em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.25em;
}

p {
	margin: .5em 0;
}

a, button, figcaption, caption, input, select, textarea {
	font-weight: normal !important;
}

a, button, input::file-selector-button {
	color: var(--NGHT-RD);
	cursor: pointer;
	transition-property: all;
}

button, input::file-selector-button, .rounded {
	border-radius: .25rem;
}

a::selection, button::selection, a:active, button:active, input::file-selector-button:active, input:focus::file-selector-button {
	color: whitesmoke;
}

button, fieldset, input, input::file-selector-button, select, textarea {
	border: .125rem solid;
}

button, input, select, textarea {
	font: inherit;
}

button, input::file-selector-button {
	background-color: transparent;
	border-color: currentColor;
	border-radius: .25rem;
	padding: .25rem .5rem;
}

a:hover {
	text-decoration: none;
}

button:hover, input::file-selector-button:hover {
	border-radius: .5rem;
}

hgroup {
	margin: 2.5em auto;
	width: fit-content;
}

hgroup>.subtitle {
	display: block;
	font: normal 2.5em "FixedSys Excelsior", monospace;
	text-align: right;
}

menu>li {
	display: inline-block;
	margin: 0 .625rem;
}

menu>li:first-of-type {
	margin-left: 0;
}

menu>li:last-of-type {
	margin-right: 0;
}

fieldset, .text.box, section#top>nav li {
	padding: .5rem;
}

fieldset {
	border-color: var(--NGHT-RD);
}

fieldset>label:first-of-type {
	margin-top: 0;
}

fieldset>label:last-of-type {
	margin-bottom: 0;
}

legend {
	padding: 0 .25rem;
}

label {
	display: block;
	margin: .25rem 0;
	width: fit-content;
}

input, select, textarea {
	accent-color: var(--NGHT-RD);
	background: none;
	border-color: var(--NGHT-RD);
	color: currentColor;
	min-height: 1.5rem;
	transition-property: all;
	vertical-align: middle;
}

input:not([type="checkbox"], [type="radio"]), select {
	border-left: none;
	border-right: none;
	border-top: none;
	width: 10rem;
}

input[type="checkbox"], input[type="color"], input[type="radio"] {
	width: 1.5rem;
}

input[type="color"], input[type="file"], input[type="range"] {
	border: none;
}

input:focus, select:focus, textarea:focus {
	background-color: var(--NGHT-RDGRND);
	border-color: currentColor;
	outline: none;
}

input::file-selector-button {
	display: block;
}

input:focus::file-selector-button {
	background-color: var(--NGHT-BLCKGRND);
}

q {
	font-family: "IBM Plex Serif", serif;
	font-style: italic;
}

blockquote>q::before, blockquote>q::after {
	color: var(--NGHT-RD);
	display: block;
	font-family: "FixedSys Excelsior", monospace;
	font-size: 1.5em;
	left: -.25em;
	position: relative;
	top: .25rem;
}

figure>:not(figcaption) {
	margin-left: .5rem;
}

figcaption, caption {
	font-stretch: condensed;
}

table {
	background-color: var(--NGHT-WHTGRND);
	margin: .25rem;
}

caption {
	caption-side: bottom;
	margin-top: .25rem;
}

th, td {
	padding: .125rem .25rem;
}

th {
	background-color: var(--NGHT-RD);
	font-weight: 500;
}

th::selection {
	background-color: var(--NGHT-BLCKGRND);
}

td {
	background-color: var(--NGHT-BLCK);
}

noscript {
	display: block;
}

.box {
	background-color: var(--NGHT-BLCKGRND);
	box-shadow: 0 0 .25rem .25rem var(--NGHT-RD);
}
/* #endregion */

/* #region Lay-outs*/
.flex {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.container {
	margin: 0 auto;
	max-width: 1250px;
	width: 95%;
}

.grid {
	display: grid;
	gap: .75rem;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}
/* #endregion */

/* #region Header */
/* #endregion */

/* #region Main content */
main h2 {
	text-align: center;
}

section#top>nav {
	background-color: whitesmoke;
	box-shadow: 0 0 .25rem .25rem whitesmoke;
	margin-bottom: 2.5rem;
}

section#top>nav li:has(a:active) {
	background-color: var(--NGHT-BLCKGRND);
	transition-property: all;
}
/* #endregion */

/* #region Footer */
footer {
	bottom: 0;
	position: fixed;
	width: 100%;
}
/* #endregion */
/* #endregion */

/* #region Helper classes */
/* Hide visually and from screen readers */
.hidden, [hidden] {
	display: none !important;
}

/* Hide only visually, but have it available for screen readers: https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * 1. For long content, line feeds are not interpreted as spaces and small width causes content to wrap 1 word per line: https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
.visually-hidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px; 
	/* 1 */
}

/* Extends the .visually-hidden class to allow the element to be focusable when navigated to via the keyboard: https://www.drupal.org/node/897638 */
.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
}

/* Hide visually and from screen readers, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Clearfix: contain floats
 * The use of `table` rather than `block` is only necessary if using `::before` to contain the top-margins of child elements. */
.clearfix::before, .clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}
/* #endregion */

/* #region Media Queries for Responsive Design */
@media only screen and (max-width: 833.37157894736842105263157894737px) {
	section#top>nav li {
		margin: 0;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 15px;
	}
}

@media only screen and (max-width: 506.59578947368421052631578947368px) {
	section#top>nav>menu {
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

/* These examples override the primary ('mobile first') styles. Modify as content requires. */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}
/* #endregion */

/* #region Print styles */
/* Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/ ===================== */
@media print {
	*, *::before, *::after {
		background: #fff !important;
		color: #000 !important;
		/* Black prints faster */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]::after {
		content: " (" attr(href) ")";
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
	a[href^="#"]::after, a[href^="javascript:"]::after {
		content: "";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre, blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr, img {
		page-break-inside: avoid;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
/* #endregion */
